---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Navigation />
        <!-- Add other UI components here, like common headers and footers. -->
        <h1>{frontmatter.title} by {frontmatter.author}</h1>
        <!-- 2. Rendered HTML will be passed into the default slot. -->
        <slot />
        <p>Written on: {frontmatter.pubDate}</p>
        <Footer />
    </body>
</html>
<style is:global>
	:root {
		--accent: 29, 52, 88;
		--accent-light: 167, 190, 226;
		--accent-dark: 4, 3, 22;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #FBFBFE;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
